
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPeticionLabel">Nueva Solicitud</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.peticion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.peticion.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="control-label" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.peticion.numero"
                    required readonly/>
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_peticionario">Peticionario</label>
            <select class="form-control" id="field_peticionario" name="peticionario" ng-model="vm.peticion.peticionario" ng-options="peticionario as peticionario.id for peticionario in vm.peticionarios track by peticionario.id" required>
            </select>
        </div>
        <div ng-show="editForm.peticionario.$invalid">
            <p class="help-block"
                ng-show="editForm.peticionario.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.nombre_solicitante" for="field_nombre_solicitante">Nombre Solicitante</label>
            <input type="text" class="form-control" name="nombre_solicitante" id="field_nombre_solicitante"
                    ng-model="vm.peticion.nombre_solicitante"
                    required/>
            <div ng-show="editForm.nombre_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre_solicitante.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.paterno_solicitante" for="field_paterno_solicitante">Paterno Solicitante</label>
            <input type="text" class="form-control" name="paterno_solicitante" id="field_paterno_solicitante"
                    ng-model="vm.peticion.paterno_solicitante"
                    required/>
            <div ng-show="editForm.paterno_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.paterno_solicitante.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.materno_solicitante" for="field_materno_solicitante">Materno Solicitante</label>
            <input type="text" class="form-control" name="materno_solicitante" id="field_materno_solicitante"
                    ng-model="vm.peticion.materno_solicitante"
                    required/>
            <div ng-show="editForm.materno_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.materno_solicitante.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.cargo_solicitante" for="field_cargo_solicitante">Cargo Solicitante</label>
            <input type="text" class="form-control" name="cargo_solicitante" id="field_cargo_solicitante"
                    ng-model="vm.peticion.cargo_solicitante"
                    required/>
            <div ng-show="editForm.cargo_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.cargo_solicitante.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.direccion_solicitante" for="field_direccion_solicitante">Direccion Solicitante</label>
            <input type="text" class="form-control" name="direccion_solicitante" id="field_direccion_solicitante"
                    ng-model="vm.peticion.direccion_solicitante"
                    required/>
            <div ng-show="editForm.direccion_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.direccion_solicitante.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.acto_constar" for="field_acto_constar">Acto Constar</label>
            <input type="text" class="form-control" name="acto_constar" id="field_acto_constar"
                    ng-model="vm.peticion.acto_constar"
                    required ng-maxlength="5000"/>
            <div ng-show="editForm.acto_constar.$invalid">
                <p class="help-block"
                    ng-show="editForm.acto_constar.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.acto_constar.$error.maxlength">
                    This field cannot be longer than 5000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.peticion.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                    ng-show="editForm.fecha.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fecha.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setOficio($file, vm.peticion)">
            <label class="control-label" for="field_oficio">Oficio</label>
            <div>
                <div ng-if="vm.peticion.oficio" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.oficioContentType, vm.peticion.oficio)">open</a><br>
                    <span class="pull-left">{{vm.peticion.oficioContentType}}, {{vm.byteSize(vm.peticion.oficio)}}</span>
                    <button type="button" ng-click="vm.peticion.oficio=null;vm.peticion.oficioContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-primary"
                        ngf-change="vm.setOficio($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="oficio" id="field_oficio"
                    ng-model="vm.peticion.oficio"
                    required/>
            <input type="hidden" class="form-control" name="oficioContentType" id="field_oficioContentType"
                    ng-model="vm.peticion.oficioContentType" />
            <div ng-show="editForm.oficio.$invalid">
                <p class="help-block"
                    ng-show="editForm.oficio.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_origen">Autoridad</label>
            <select class="form-control" id="field_origen" name="origen" ng-model="vm.peticion.origen" ng-options="origen as origen.id for origen in vm.origens track by origen.id" required>
            </select>
        </div>
        <div ng-show="editForm.origen.$invalid">
            <p class="help-block"
                ng-show="editForm.origen.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_responsable">Responsable</label>
            <input type="text" class="form-control" name="responsable" id="field_responsable"
                    ng-model="vm.peticion.responsable"
                    required/>
            <div ng-show="editForm.responsable.$invalid">
                <p class="help-block"
                    ng-show="editForm.responsable.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.status_prevencion" for="field_status_prevencion">Status Prevencion</label>
                <input type="checkbox" name="status_prevencion" id="field_status_prevencion"
                          ng-model="vm.peticion.status_prevencion"/>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setOficio_prevencion($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.oficio_prevencion" for="field_oficio_prevencion">Oficio Prevencion</label>
            <div>
                <div ng-if="vm.peticion.oficio_prevencion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.oficio_prevencionContentType, vm.peticion.oficio_prevencion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.oficio_prevencionContentType}}, {{vm.byteSize(vm.peticion.oficio_prevencion)}}</span>
                    <button type="button" ng-click="vm.peticion.oficio_prevencion=null;vm.peticion.oficio_prevencionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setOficio_prevencion($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="oficio_prevencion" id="field_oficio_prevencion"
                    ng-model="vm.peticion.oficio_prevencion"
                    />
            <input type="hidden" class="form-control" name="oficio_prevencionContentType" id="field_oficio_prevencionContentType"
                    ng-model="vm.peticion.oficio_prevencionContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setNotificacion_prevencion($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.notificacion_prevencion" for="field_notificacion_prevencion">Notificacion Prevencion</label>
            <div>
                <div ng-if="vm.peticion.notificacion_prevencion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.notificacion_prevencionContentType, vm.peticion.notificacion_prevencion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.notificacion_prevencionContentType}}, {{vm.byteSize(vm.peticion.notificacion_prevencion)}}</span>
                    <button type="button" ng-click="vm.peticion.notificacion_prevencion=null;vm.peticion.notificacion_prevencionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setNotificacion_prevencion($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="notificacion_prevencion" id="field_notificacion_prevencion"
                    ng-model="vm.peticion.notificacion_prevencion"
                    />
            <input type="hidden" class="form-control" name="notificacion_prevencionContentType" id="field_notificacion_prevencionContentType"
                    ng-model="vm.peticion.notificacion_prevencionContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setRespuesta_prevencion($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.respuesta_prevencion" for="field_respuesta_prevencion">Respuesta Prevencion</label>
            <div>
                <div ng-if="vm.peticion.respuesta_prevencion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.respuesta_prevencionContentType, vm.peticion.respuesta_prevencion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.respuesta_prevencionContentType}}, {{vm.byteSize(vm.peticion.respuesta_prevencion)}}</span>
                    <button type="button" ng-click="vm.peticion.respuesta_prevencion=null;vm.peticion.respuesta_prevencionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setRespuesta_prevencion($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="respuesta_prevencion" id="field_respuesta_prevencion"
                    ng-model="vm.peticion.respuesta_prevencion"
                    />
            <input type="hidden" class="form-control" name="respuesta_prevencionContentType" id="field_respuesta_prevencionContentType"
                    ng-model="vm.peticion.respuesta_prevencionContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.tipo_evaluacion" for="field_tipo_evaluacion">Tipo Evaluacion</label>
            <input type="number" class="form-control" name="tipo_evaluacion" id="field_tipo_evaluacion"
                    ng-model="vm.peticion.tipo_evaluacion"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setActa_procede($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.acta_procede" for="field_acta_procede">Acta Procede</label>
            <div>
                <div ng-if="vm.peticion.acta_procede" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.acta_procedeContentType, vm.peticion.acta_procede)">open</a><br>
                    <span class="pull-left">{{vm.peticion.acta_procedeContentType}}, {{vm.byteSize(vm.peticion.acta_procede)}}</span>
                    <button type="button" ng-click="vm.peticion.acta_procede=null;vm.peticion.acta_procedeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setActa_procede($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="acta_procede" id="field_acta_procede"
                    ng-model="vm.peticion.acta_procede"
                    />
            <input type="hidden" class="form-control" name="acta_procedeContentType" id="field_acta_procedeContentType"
                    ng-model="vm.peticion.acta_procedeContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAcuerdo_procede($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.acuerdo_procede" for="field_acuerdo_procede">Acuerdo Procede</label>
            <div>
                <div ng-if="vm.peticion.acuerdo_procede" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.acuerdo_procedeContentType, vm.peticion.acuerdo_procede)">open</a><br>
                    <span class="pull-left">{{vm.peticion.acuerdo_procedeContentType}}, {{vm.byteSize(vm.peticion.acuerdo_procede)}}</span>
                    <button type="button" ng-click="vm.peticion.acuerdo_procede=null;vm.peticion.acuerdo_procedeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAcuerdo_procede($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="acuerdo_procede" id="field_acuerdo_procede"
                    ng-model="vm.peticion.acuerdo_procede"
                    />
            <input type="hidden" class="form-control" name="acuerdo_procedeContentType" id="field_acuerdo_procedeContentType"
                    ng-model="vm.peticion.acuerdo_procedeContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setNotificacion_procede($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.notificacion_procede" for="field_notificacion_procede">Notificacion Procede</label>
            <div>
                <div ng-if="vm.peticion.notificacion_procede" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.notificacion_procedeContentType, vm.peticion.notificacion_procede)">open</a><br>
                    <span class="pull-left">{{vm.peticion.notificacion_procedeContentType}}, {{vm.byteSize(vm.peticion.notificacion_procede)}}</span>
                    <button type="button" ng-click="vm.peticion.notificacion_procede=null;vm.peticion.notificacion_procedeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setNotificacion_procede($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="notificacion_procede" id="field_notificacion_procede"
                    ng-model="vm.peticion.notificacion_procede"
                    />
            <input type="hidden" class="form-control" name="notificacion_procedeContentType" id="field_notificacion_procedeContentType"
                    ng-model="vm.peticion.notificacion_procedeContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAcuerdo_noprocede($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.acuerdo_noprocede" for="field_acuerdo_noprocede">Acuerdo Noprocede</label>
            <div>
                <div ng-if="vm.peticion.acuerdo_noprocede" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.acuerdo_noprocedeContentType, vm.peticion.acuerdo_noprocede)">open</a><br>
                    <span class="pull-left">{{vm.peticion.acuerdo_noprocedeContentType}}, {{vm.byteSize(vm.peticion.acuerdo_noprocede)}}</span>
                    <button type="button" ng-click="vm.peticion.acuerdo_noprocede=null;vm.peticion.acuerdo_noprocedeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAcuerdo_noprocede($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="acuerdo_noprocede" id="field_acuerdo_noprocede"
                    ng-model="vm.peticion.acuerdo_noprocede"
                    />
            <input type="hidden" class="form-control" name="acuerdo_noprocedeContentType" id="field_acuerdo_noprocedeContentType"
                    ng-model="vm.peticion.acuerdo_noprocedeContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setNotificacion_noprocede($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.notificacion_noprocede" for="field_notificacion_noprocede">Notificacion Noprocede</label>
            <div>
                <div ng-if="vm.peticion.notificacion_noprocede" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.notificacion_noprocedeContentType, vm.peticion.notificacion_noprocede)">open</a><br>
                    <span class="pull-left">{{vm.peticion.notificacion_noprocedeContentType}}, {{vm.byteSize(vm.peticion.notificacion_noprocede)}}</span>
                    <button type="button" ng-click="vm.peticion.notificacion_noprocede=null;vm.peticion.notificacion_noprocedeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setNotificacion_noprocede($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="notificacion_noprocede" id="field_notificacion_noprocede"
                    ng-model="vm.peticion.notificacion_noprocede"
                    />
            <input type="hidden" class="form-control" name="notificacion_noprocedeContentType" id="field_notificacion_noprocedeContentType"
                    ng-model="vm.peticion.notificacion_noprocedeContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAcuerdo_presentacion($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.acuerdo_presentacion" for="field_acuerdo_presentacion">Acuerdo Presentacion</label>
            <div>
                <div ng-if="vm.peticion.acuerdo_presentacion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.acuerdo_presentacionContentType, vm.peticion.acuerdo_presentacion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.acuerdo_presentacionContentType}}, {{vm.byteSize(vm.peticion.acuerdo_presentacion)}}</span>
                    <button type="button" ng-click="vm.peticion.acuerdo_presentacion=null;vm.peticion.acuerdo_presentacionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAcuerdo_presentacion($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="acuerdo_presentacion" id="field_acuerdo_presentacion"
                    ng-model="vm.peticion.acuerdo_presentacion"
                    />
            <input type="hidden" class="form-control" name="acuerdo_presentacionContentType" id="field_acuerdo_presentacionContentType"
                    ng-model="vm.peticion.acuerdo_presentacionContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setNotificacion_presentacion($file, vm.peticion)">
            <label class="control-label" data-translate="sioeSqlApp.peticion.notificacion_presentacion" for="field_notificacion_presentacion">Notificacion Presentacion</label>
            <div>
                <div ng-if="vm.peticion.notificacion_presentacion" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.peticion.notificacion_presentacionContentType, vm.peticion.notificacion_presentacion)">open</a><br>
                    <span class="pull-left">{{vm.peticion.notificacion_presentacionContentType}}, {{vm.byteSize(vm.peticion.notificacion_presentacion)}}</span>
                    <button type="button" ng-click="vm.peticion.notificacion_presentacion=null;vm.peticion.notificacion_presentacionContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setNotificacion_presentacion($file, vm.peticion)">
                    PDF
                </button>
            </div>
            <input type="hidden" class="form-control" name="notificacion_presentacion" id="field_notificacion_presentacion"
                    ng-model="vm.peticion.notificacion_presentacion"
                    />
            <input type="hidden" class="form-control" name="notificacion_presentacionContentType" id="field_notificacion_presentacionContentType"
                    ng-model="vm.peticion.notificacion_presentacionContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.status_trabajo" for="field_status_trabajo">Status Trabajo</label>
                <input type="checkbox" name="status_trabajo" id="field_status_trabajo"
                          ng-model="vm.peticion.status_trabajo"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
