<div>
    <h2>Bitacora de Peticiones</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="peticion.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Capturar Solicitud
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <!--<th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="numero"><span>Numero Peticion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span>Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="peticionario.id"><span>Peticionario</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="nombre_solicitante"><span data-translate="opleSioeApp.peticion.nombre_solicitante">Nombre Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                  <th jh-sort-by="paterno_solicitante"><span data-translate="opleSioeApp.peticion.paterno_solicitante">Paterno Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="materno_solicitante"><span data-translate="opleSioeApp.peticion.materno_solicitante">Materno Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cargo_solicitante"><span data-translate="opleSioeApp.peticion.cargo_solicitante">Cargo Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="direccion_solicitante"><span data-translate="opleSioeApp.peticion.direccion_solicitante">Direccion Solicitante</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="acto_certificar"><span data-translate="opleSioeApp.peticion.acto_certificar">Acto a Certificar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--<th jh-sort-by="nombre_responsable"><span data-translate="opleSioeApp.peticion.nombre_responsable">Responsable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="oficio"><span>Oficio</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="usuario.id"><span>Autoridad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by=""><span>Estatus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by=""><span>Acta</span> <span class="glyphicon glyphicon-sort"></span></th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="peticion in vm.peticions track by peticion.id">
                  <!--  <td><a ui-sref="peticion-detail({id:peticion.id})">{{peticion.id}}</a></td>-->
                    <td>{{peticion.numero}}</td>
                    <td>{{peticion.fecha | date:'short'}}</td>
                    <td>
                        <p ui-sref="peticionario-detail({id:peticion.peticionario.tipo})">{{peticion.peticionario.tipo}}</p>
                    </td>
                    <!--<td>{{peticion.nombre_solicitante}} {{peticion.paterno_solicitante}}</td>
                    <td>{{peticion.paterno_solicitante}}</td>
                    <td>{{peticion.materno_solicitante}}</td>
                    <td>{{peticion.cargo_solicitante}}</td>
                    <td>{{peticion.direccion_solicitante}}</td>-->
                    <td>{{peticion.acto_constar}}</td>
                    <!--<td>{{peticion.nombre_responsable}}</td>
                    <td>
                        <a ng-if="peticion.oficio" ng-click="vm.openFile(peticion.oficioContentType, peticion.oficio)">open</a>
                        <span ng-if="peticion.oficio">{{peticion.oficioContentType}}, {{vm.byteSize(peticion.oficio)}}</span>
                    </td>-->
                    <td>
                        <p ui-sref="usuario-detail({id:peticion.origen.nombre})">{{peticion.origen.nombre}}</p>
                    </td>
                    <td>campo estatus</td>
                    <td>
                      <a class="pull-left" ng-click="vm.openFile(vm.peticion.acta_procedeContentType, vm.peticion.acta_procede)">open</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="peticion-detail({id:peticion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peticion.edit({id:peticion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="peticion.delete({id:peticion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
