<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPeticionLabel">Evaluar</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.peticion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.peticion.id" readonly />
        </div>-->
        <div>
            <div class="form-group">
                <label class="control-label" for="field_numero">Numero de Peticion</label>
                <input type="text" class="form-control" name="numero" id="field_numero" ng-model="vm.peticion.numero" required readonly/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.tipo_evaluacion" for="field_tipo_evaluacion">Asignar Procedencia</label>
            <!--<input type="number" class="form-control" name="tipo_evaluacion" id="field_tipo_evaluacion"
                    ng-model="vm.peticion.tipo_evaluacion"
                    />-->
            <select ype="number" class="form-control" name="tipo_evaluacion" id="field_tipo_evaluacion" ng-model="vm.peticion.tipo_evaluacion">
               <option value=0 ng-selected="true">Sin Evaluar</option>
               <option value=1 >Procede</option>
               <option value=2>No Procede</option>
               <option value=3>No Presentacion</option>

  </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_acta">Acta</label>
            <input type="text" class="form-control" name="acta" id="field_acta"
                    ng-model="vm.peticion.acta"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_acuerdo">Acuerdo</label>
            <input type="text" class="form-control" name="acuerdo" id="field_acuerdo"
                    ng-model="vm.peticion.acuerdo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_notificacion">Notificacion</label>
            <input type="text" class="form-control" name="notificacion" id="field_notificacion"
                    ng-model="vm.peticion.notificacion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_respuesta">Respuesta</label>
            <input type="text" class="form-control" name="respuesta" id="field_respuesta"
                    ng-model="vm.peticion.respuesta"
                    />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.status_trabajo" for="field_status_trabajo">Status Trabajo</label>
                <input type="checkbox" name="status_trabajo" id="field_status_trabajo"
                          ng-model="vm.peticion.status_trabajo"/>
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</form>
