
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPeticionLabel">Capturar Solicitud</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.peticion.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.peticion.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="control-label" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.peticion.numero"
                    required/>
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_peticionario">Peticionario</label>
            <select class="form-control" id="field_peticionario" name="peticionario" ng-model="vm.peticion.peticionario" ng-options="peticionario as peticionario.tipo for peticionario in vm.peticionarios track by peticionario.tipo" required>
            </select>
        </div>
        <div ng-show="editForm.peticionario.$invalid">
            <p class="help-block"
                ng-show="editForm.peticionario.$error.required">
                Campo Obligatorio.
            </p>
        </div>



        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.nombre_solicitante" for="field_nombre_solicitante">Nombre Solicitante</label>
            <input type="text" class="form-control" name="nombre_solicitante" id="field_nombre_solicitante"
                    ng-model="vm.peticion.nombre_solicitante"
                    required/>
            <div ng-show="editForm.nombre_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre_solicitante.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.paterno_solicitante" for="field_paterno_solicitante">Paterno Solicitante</label>
            <input type="text" class="form-control" name="paterno_solicitante" id="field_paterno_solicitante"
                    ng-model="vm.peticion.paterno_solicitante"
                    required/>
            <div ng-show="editForm.paterno_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.paterno_solicitante.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.materno_solicitante" for="field_materno_solicitante">Materno Solicitante</label>
            <input type="text" class="form-control" name="materno_solicitante" id="field_materno_solicitante"
                    ng-model="vm.peticion.materno_solicitante"
                    required/>
            <div ng-show="editForm.materno_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.materno_solicitante.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.cargo_solicitante" for="field_cargo_solicitante">Cargo Solicitante</label>
            <input type="text" class="form-control" name="cargo_solicitante" id="field_cargo_solicitante"
                    ng-model="vm.peticion.cargo_solicitante"
                    required/>
            <div ng-show="editForm.cargo_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.cargo_solicitante.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.direccion_solicitante" for="field_direccion_solicitante">Direccion Solicitante</label>
            <input type="text" class="form-control" name="direccion_solicitante" id="field_direccion_solicitante"
                    ng-model="vm.peticion.direccion_solicitante"
                    required/>
            <div ng-show="editForm.direccion_solicitante.$invalid">
                <p class="help-block"
                    ng-show="editForm.direccion_solicitante.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="sioeSqlApp.peticion.acto_constar" for="field_acto_constar">Acto Constar</label>
            <input type="text" class="form-control" name="acto_constar" id="field_acto_constar"
                    ng-model="vm.peticion.acto_constar"
                    required ng-maxlength="5000"/>
            <div ng-show="editForm.acto_constar.$invalid">
                <p class="help-block"
                    ng-show="editForm.acto_constar.$error.required">
                    Campo Obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.acto_constar.$error.maxlength">
                    This field cannot be longer than 5000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_oficio">Oficio</label>
            <input type="text" class="form-control" name="oficio" id="field_oficio"
                    ng-model="vm.peticion.oficio"
                    required/>
            <div ng-show="editForm.oficio.$invalid">
                <p class="help-block"
                    ng-show="editForm.oficio.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.peticion.fecha" is-open="vm.datePickerOpenStatus.fecha"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.fecha.$invalid">
                <p class="help-block"
                    ng-show="editForm.fecha.$error.required">
                    Campo Obligatorio.
                </p>
                <p class="help-block"
                    ng-show="editForm.fecha.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_origen">Origen</label>
            <select class="form-control" id="field_origen" name="origen" ng-model="vm.peticion.origen" ng-options="origen as origen.nombre for origen in vm.origens track by origen.nombre" required>
            </select>
        </div>
        <div ng-show="editForm.origen.$invalid">
            <p class="help-block"
                ng-show="editForm.origen.$error.required">
                Campo Obligatorio.
            </p>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_responsable">Responsable</label>
            <input type="text" class="form-control" name="responsable" id="field_responsable"
                    ng-model="vm.peticion.responsable"
                    required/>
            <div ng-show="editForm.responsable.$invalid">
                <p class="help-block"
                    ng-show="editForm.responsable.$error.required">
                    Campo Obligatorio.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
